@media only screen and (min-width: 230px) {
    #info{ width:245px;}    
    .txtDefault{ width:220px; }    
    .txtSearch{width:188px}    
    #SearchLab{width:130px;}
}


@media only screen and (min-width: 320px) {
    #info{ width:260px;}    
    .txtDefault{ width:250px; }
    .txtSearch{width:219px;}            
}

@media only screen and (min-width: 480px) {
    #info{ width:340px;}               
    .txtDefault{width:210px;}
    .txtSearch{width:177px;}
    #Usuario{margin-left:40px;}    
    #txtNoControl{margin-left:40px;}
    #txtLaboratorio{margin-left:13px;}
    #txtMaquina{margin-left:34px;}
    #txtMaquina{margin-left:34px;}
    #txtHoraEntrada{margin-left:4px;}
}

@media only screen and (min-width: 768px) {
    #titulo{margin-top:50px;}
}
