@media only screen and (min-width: 230px) {
    #buscarConcepto{ width:250px;}
    #checkGrp{margin-left:22px;}
    #checkMtr{margin-left:12px;}
    #buscarClasificacion{width:250px;}              
    #checkMes{margin-left:18px;}
    #checkSema{margin-left:26px;}
    #checkHora{margin-left:59px;}
    #selectConcepto{ width:250px;}
    #selectClasificacion{ width:250px;}
    .txtDefault{width:240px}
}

@media only screen and (min-width:480px){
    #buscarConcepto{width:450px;}
    #checkGrp{margin-left:15px;}
    #checkMtr{margin-left:15px;}
    #checkLab{margin-left:15px;}
    #checkCar{margin-left:15px;}
    #buscarClasificacion{width:450px;}
    #checkMes{margin-left:10px;}
    #checkSema{margin-left:30px;}
    #checkDia{margin-left:11px;}
    #checkHora{margin-left:73px;}
    #selectConcepto{ width:350px;}
    #txtPrf{margin-left:34px;}
    #txtGrp{margin-left:49px;}
    #txtMtr{margin-left:42px;}
    #txtLab{margin-left:12px;}
    #txtCar{margin-left:43px;}
    #selectClasificacion{ width:350px;}
    #txtSem{margin-left:29px;}
    #txtMes{margin-left:64px;}
    #txtSema{margin-left:38px;}
    #txtDia{margin-left:70px;}
    #txtHora{margin-left:60px;}
}