<!--CSS-->
<link rel="stylesheet" type="text/css" href="~/Content/laboratorios.css" />
<link rel="stylesheet" type="text/css" href="~/Content/global.css" />
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="~/Content/styles.css" />

<!--Titulo pestaña-->
<title>Laboratorios</title>

<!--Titulo-->
<h2 id="titulo">Laboratorios</h2>

<!--Panel principal-->
<div id="info">
    No. Serie: <input type="text" class="cajas txtSearch" id="txtSerie" required onKeyPress="return soloLetras(event);" maxlength="4" />
    <button type="button" data-toggle="modal" data-target=".modalLab" onclick="limpiarModalLab()">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    Nombre: <input type="text" class="cajas txtDefault" id="txtLaboratorio" maxlength="1" required onKeyPress="return soloLetras(event);" />    
    Capacidad: <input type="text" class="cajas txtDefault" id="txtCapacidad" onkeypress="return justNumbers(event)" />
    Descripcion:<textarea cols="25" rows="5" class="cajas" id="txtObservaciones"></textarea>
</div>

<!--Panel de botones-->
<div id="info">
    <input type="submit" value="Aceptar" id="btnAceptar" onclick="validar()" />
    <input type="submit" value="Cancelar" id="btnCancelar" onclick="limpiar()" />
    <input type="submit" value="Importar" id="btnImportar" data-toggle="modal" data-target=".modalImportar" onclick="limpiarTabla()" />
</div>


<!--Modal de Laboratorios-->
<div class="modal fade modal modalLab">
    <div class="modal-content modalPrincipal">
        <div class="modalSecundario">
            <h2 id="titulo">Laboratorios</h2>
            <label>Buscar:</label>
            <input type="text" class="cajas" id="SearchLab" onkeyup="filtrarLab(this)" />
            <h3>Informacion</h3>
            <div class="table-responsive">
                <table class="table table-hover" id="tbLab">
                    <thead id="thHead">
                        <tr>
                            <th>ID</th>
                            <th>Laboratorio</th>
                            <th>Capacidad</th>
                            <th>Descripcion</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>                        
                    </tbody>
                </table>
            </div>
            <button id="btnAceptar" data-dismiss="modal">Aceptar</button>
        </div>
    </div>
</div>

<!--Modal de Importar-->
<div class="modal fade modal modalImportar">
    <div class="modal-content modalPrincipal">
        <div class="modalSecundario">
            <h2 id="titulo">Importar Documento</h2>            
            <input type="file" id="my_file_input" />

            <div id="info" class="table-responsive">
                <table id="my_file_output" class="table table-hover">
                    <thead id="thHead">
                        <tr>
                            <th>Serie</th>
                            <th>Nombre</th>
                            <th>Capacidad</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <button id="btnAceptar" onclick="saveLabTable()">Aceptar</button>
        </div>
    </div>
</div>


<!--Script-->
<script src="~/Scripts/global.js"></script>
<script src="~/Scripts/laboratorios.js"></script>
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/xls.js"></script>
<script language="JavaScript">
        var oFileIn;
        //Código JQuery
        $(function() {
            oFileIn = document.getElementById('my_file_input');
            if (oFileIn.addEventListener) {
                oFileIn.addEventListener('change', filePicked, false);
            }
        });

        //Método que hace el proceso de importar excel a html
        function filePicked(oEvent) {
            // Obtener el archivo del input
            var oFile = oEvent.target.files[0];
            var sFilename = oFile.name;
            // Crear un Archivo de Lectura HTML5
            var reader = new FileReader();

            // Leyendo los eventos cuando el archivo ha sido seleccionado
            $("#my_file_output > tbody ").empty();
            reader.onload = function(e) {
                var data = e.target.result;
                var cfb = XLS.CFB.read(data, {
                    type: 'binary'
                });
                var wb = XLS.parse_xlscfb(cfb);
                // Iterando sobre cada sheet
                wb.SheetNames.forEach(function(sheetName) {
                    // Obtener la fila actual como CSV
                    var sCSV = XLS.utils.make_csv(wb.Sheets[sheetName]);
                    var data = XLS.utils.sheet_to_json(wb.Sheets[sheetName], {
                        header: 1
                    });
                    $.each(data, function(indexR, valueR) {
                        var sRow = "<tr>";
                        $.each(data[indexR], function(indexC, valueC) {
                            sRow = sRow + "<td>" + valueC + "</td>";
                        });
                        sRow = sRow + "</tr>";
                        $("#my_file_output").append(sRow);
                    });
                });
            };

        // Llamar al JS Para empezar a leer el archivo .. Se podría retrasar esto si se desea
        reader.readAsBinaryString(oFile);
        }

</script>